@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Norican&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Norican&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Norican&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}



.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.nav-link {
  color: #444;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  // line-height: 80px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease-in;
}
.active {
  color: #f25862 !important;
}


/* slider */
.slide-container {
  cursor: grab;
}
.react-slideshow-container .default-nav:first-of-type {
  margin-left: 50px !important;
}
.react-slideshow-container .default-nav:first-of-type {
  color: red;
  background-color: transparent;
}
.react-slideshow-container .default-nav:last-of-type {
  margin-right: 50px !important;
  background-color: transparent;
  font-size: 20px;
  color: red;
}

.slidercaption {
  font-size: 42px;
  font-family: "Norican" !important;
  line-height: 42px;
  white-space: nowrap;
  color: #0a0a0a;
  margin-bottom: 5px;
}
.slidertitle {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 42px;
  color: #000000;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 10px;
  animation: titleDemo 2s ease-in infinite;
}

@keyframes titleDemo {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.sliderDesc {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 14px;
  color: #000000;
  font-family: "Montserrat";
}
.btn-slider {
  font-size: 14px;
  line-height: 14px;
  font-family: "Montserrat";
  width: 148px;
  height: 38px;
  padding: 10px 30px 10px 30px;
  border: 2px solid #000000;
  color: #444444;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-slider:hover {
  background-color: rgba(233, 47, 47, 0.986);
  color: #ffffff;
  border: none;
}

/* New Image comp css */

.overflow {
 
  position: relative;
  overflow: hidden;
}

.overflow img {
  width: auto;
  height: auto;
  transition: transform 0.3s;
  position: relative;
}

.overflow:hover img {
  transform: scale(1.1);
}

.overflow:hover .overlay {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #0000006e;
}

/* Products Css */
.nav > .nav-items{
  line-height: 80px;
  min-height: 80px;
}
.activeclass {
  font-size: 13px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.activeclass:hover {
  background-color: #000000;
}
.activeclass.active {
 
  color: #ffff !important;
}



.card {
  border-radius: 0px;
  border: none;
}

.card:hover .one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://demo.roadthemes.com/james/wp-content/uploads/2014/10/8-500x500.jpg");
  background-size: cover;
  background-position: center;
}

#btn {
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.5s ease-in;
  
  width: 125px;
  height: 34px;
  padding: 0 10px 0 10px;
  font-size: 14px;
  line-height: 34px;
  font-family: Montserrat, Arial, Helvetica;
}
#btn-eye {
  visibility: hidden;
  width: 34px;
  height: 34px;
  font-size: 14px;
  transition: all 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
#heart-icon {
  visibility: hidden;
  width: 34px;
  height: 34px;
  font-size: 14px;
  transition: all 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover #heart-icon {
  visibility: visible;
  transform: translateY(-10px);
  transition: all 1.5s ease-in;
}
.card:hover #btn-eye {
  visibility: visible;
  transform: translateY(-10px);
  transition: all 1s ease-in;
}
.card:hover #btn {
  visibility: visible;
  transform: translateY(-10px);
}

/* feature comp css */

.feat-comp::before {
  content: "/";
  padding: 0 10px;
}
.feat-comp::after {
  content: "\f04d";
  font-family: FontAwesome;
  font-size: 7px;
  margin-left: 10px;
  color: #f25862;
}
.feat-comp {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #333333;
  text-transform: uppercase;
  font-family: Montserrat, Arial, Helvetica;
}

.card:hover .one-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url("http://demo.roadthemes.com/james/wp-content/uploads/2014/10/8-500x500.jpg");
  background-size: cover;
  background-position: center;
}

.card:hover .two-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://demo.roadthemes.com/james/wp-content/uploads/2014/10/8-500x500.jpg");
  background-size: cover;
  background-position: center;
}

.card:hover .three-items:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://demo.roadthemes.com/james/wp-content/uploads/2014/10/7-500x500.jpg");
  background-size: cover;
  background-position: center;

}

/* New comp */
.bg-img {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-top: 60px !important;
  padding-right: 0px !important;
  padding-bottom: 30px !important;
  padding-left: 0px !important;
  background-image: url("../Images/banner.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 10px;
}

.des-banner {
  background: #fff;
  box-shadow: -22px -22px rgba(99, 100, 101, 0.58);
  position: relative;
  padding: 50px 20px;
  text-align: center;
  text-transform: uppercase;
  max-width: 570px;
  width: 100%;
  height: auto;
}
.btn-hover:hover {
  background-color: #f25862;
  color: #fff !important;
}

/* testimonial comp */

.bg-imag-testimonial {
  margin-left: 0px;
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  background-image: url("../Images/bkg_tes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
blockquote {
  border: 0;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-style: italic;
  background-color: rgba(40, 40, 39, 0.56);
  padding: 50px 30px;
  position: relative;
  margin: 0 0 30px;
}
blockquote:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid rgba(40, 40, 39, 0.56);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
}

.avatar.wp-post-image {
  width: 100px;
  height: 100px;
  border: 6px solid #414141;
  margin: 0 535px 0 535px;
  max-width: 100%;
  border-radius: 50%;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 13px;
  height: 13px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #d1d1d1 !important;
  color: #ff0000;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 13px !important;
  line-height: 20px;
  position: absolute;
  top: 1px !important;
  left: 0;
  width: 13px;
  height: 13px;
  content: "•";
  text-align: center;

  color: #f25862 !important;
  font-weight: 1000;
  -webkit-font-smoothing: antialiased;
}

/* Blog Comp */
.post-wrapper {
  background: #f5f5f5;
  padding: 50px 25px 35px 25px;
  z-index: 11;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
 
  margin-left: 5px;
}
.post-wrapper:hover {
  background: #6a6a6a;
  cursor: pointer;
}
.post-thumb {
  float: left;
 
}

.post-info {
  overflow: hidden;
  zoom: 1;
  padding-left: 20px;
  margin-top: 0;
}

.post-wrapper:hover .post-title-a {
  color: #fcfcfc !important;
}
.post-date {
  font-size: 13px;
  line-height: 20px;
  color: #f25862;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}
.blog-para {
  font-size: 13px;
  font-style: italic1;
  line-height: 20px;
  margin: 0 0 10px 0;
  display: block;
  width: 350px;
  height: 60px;
}
.post-wrapper:hover .blog-para {
  color: #fff;
}
.readmore {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #eaeaea;
  padding: 7px 15px 7px 15px;
  border-radius: 0;
}
.post-wrapper:hover .readmore {
  background-color: #ffffff;
  color: #252525;
}

/* Footer */

.footer {
  background: linear(left top, right top, 90deg, #232222 50%, #1d1d1d 50%);
  background: -webkit-linear-gradient(90deg, #232222 50%, #1d1d1d 50%);
  background: linear-gradient(90deg, #232222 50%, #1d1d1d 50%);
}

.footer .footer-top {
  padding: 20px 0 40px;
  background: linear(left top, right top, 90deg, #232222 50%, #1d1d1d 50%);
  background: -webkit-linear-gradient(90deg, #232222 50%, #1d1d1d 50%);
  background: linear-gradient(90deg, #232222 50%, #1d1d1d 50%);
}

.fa.fa-fax {
  width: 34px;
  height: 34px;
  background-color: #838383;
  display: inline-block;
  margin: 0px 10px 0 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
}
.fa.fa-phone {
  width: 34px;
  height: 34px;
  background-color: #838383;
  display: inline-block;
  margin: 0px 10px 0 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
}

.fa .fa-envelope-o {
  width: 34px;
  height: 34px;
  background-color: #838383;
  display: inline-block;
  margin: 0px 10px 0 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
}

.widget_menu {
  width: 270px;
  height: 30px;
  /* border-top: 1px solid #A8A8A8; */
  margin: 20px 0 50px 0;
  padding: 10px 0 0;
  margin-left: 30px !important;
}
.footer-h3 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: #a8a8a8;
  border-top: 2px solid #cccc;
  margin: 0px 0 30px 0;
  padding: 10px 0 0 0;
}

.widget-title {
  margin: 0px 0 30px 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  padding: 10px 20px 10px;
  border-top: 1px solid #a8a8a8;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #a8a8a8;
}
.nav_menu {
  padding: 0;
  list-style: none;
  margin: 0;
}
.nav_menu li {
  line-height: 40px;
  border-bottom: 1px solid #363636;
}
a {
  color: #b6b6b6;
}
.nav_menu li a:before {
  content: "\f192";
  font-family: FontAwesome;
  margin-right: 10px;
  font-size: 10px;
}

.footer-bottom {
  padding: 20px 0;
  background-color: #000000;
}
.widget-copyright {
  margin: 10px 0 0;
  font-size: 13px;
  line-height: 20px;
  color: #a8a8a8;
}
.widget-copyright a {
  color: #f25862;
}
.footer .widget-payment {
  text-align: right;
}


// contact uspage
.contact-page {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #303030;
  font-size: 28px;
  text-transform: uppercase;
}

.formStyle {
  background-color: #f6f6f6;
  padding: 50px 50px 50px 50px;
}
input {
  font-family: "Poppins", sans-serif;
  color: #aaaaaa;
  padding: 50px 50px 50px 50px;
}
::-webkit-input-placeholder {
  font-size: 14px;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
//Rigth
.right-box {
  background-color: #f6f6f6;
  padding: 50px 50px 50px 50px;
}
.commiunation-icon {
  width: 64px;
  height: 64px;
  border: 1px solid #666666;
  border-radius: 50%;

  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commiunation-icon > i {
  color: #666666;
  // font-size: 24px;
  line-height: 64px;
}
.commiunation-info > h3 {
  font-size: 15px;
  line-height: 17px;
  color: #222222;
  font-family: "Oswald", sans-serif;
  margin: 0 0 10px 0;
}
.commiunation-info > p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #464646;
}

// About us
.left-about > h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  line-height: 32px;
  text-transform: capitalize;
  // margin: 0 0 20px 0;
}
.left-about > h1 span {
  color: #388396;
}
.left-about > p {
  font-size: 13px;
  line-height: 24px;
  color: #7d7d7d;
  margin: 0 0 23px 0;
  font-family: "Poppins", sans-serif;
}
.left-about > button {
  font-size: 13px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  line-height: 44px;
  letter-spacing: 0.3;
  background-color: #292929;
  color: #ffffff;
  padding: 0 40px 0 40px;
}
.left-about > button:hover {
  background-color: #388396;
  border: none;
}

// Team Comp
.slick-dots{
  position: static !important;
  margin-bottom:10px !important ;
}
.team-style > h2 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 1px;
  color: #292929;
}
.team-style > P {
  font-size: 16px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  width: 50%;
  text-align: center;
}

// images css team
.item-images {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 317px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item-images:hover .overlay {
  opacity: 1;
}

.text-team {

  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-100%, -30%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item-images:hover .text-team {
  opacity: 1;
}


.text-team > h3 {
  color: red; 
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
  margin: 0 0 10px 0;
  transform: translateY(40px); 
  transition: all 1s linear;
}

.item-images:hover .text-team > h3 {

  color: #ffff;
  transform: translateY(0px);

}
.text-team >p{
  color: red;
  transform: translateY(40px); 
  transition: all 2s linear;
}

.item-images:hover .text-team >p{
  color: #fff;
  transform: translateY(0px);
}

.slider-image {
  max-width: 317px;
  height: 317px;
}



// detailpage


.detail-p{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}



// checkout page 
.checkout-heading{
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 27px;
  color: #303030;
  margin-left: 10px;
  margin-top: 20px;
}
.border-bottoms{
  width: 100%;
  border-top: 3px solid #388396;
  
}
.box-heading{
 border-bottom: 2px solid #ccc;
 margin-bottom: 20px;
 width: 100%;
}
.billing-heading{
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #303030;
  text-transform: uppercase;
  margin-top: 20px;
}


.form-control:focus{
  box-shadow:none;
  border-color: transparent !important;
  border:1px solid #ccc !important;
}
.order-detail{
width: 100%;
  height:auto;
  background-color: #f2f2f2;
  padding:0  20px;
}

.order-heading{
  font-size: 22px;
  line-height: 24px;
  color: #303030;
  font-family: "Oswald", sans-serif;
  padding-left: 15px;
  padding-top: 18px;

}
.product-name{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
  vertical-align: middle;
  padding:15px 0 15px 0;
}
.product{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.btn-custom{
  font-size: 17px;
  background-color: #388396;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px 0 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 50px;
}













/* media quries */

@media (min-width: 992px) {
  .card {
    max-width: 100% !important;
    margin-left: 30px;
  }
  .sidebar {
    width: 100% !important;
  }
  
  
  .navbar-toggler {
    background: none !important;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 0;
    border: none;

}
}



@media (max-width: 768px) {
  .overflow {
    display: flex;
    justify-content: center;
  }
  .overflow:hover .overlay {
    display: none;
  }
  
}


@media (max-width: 576px) {
  .d-sm-none {
    display: none;
  }
 .feat-comp{
  font-size: 16px;
 }
}
@media (max-width:320px){
  .slidercaption{
    margin-right: -20px;
    font-size:35px;
  }
  .btn-slider{
    color: #000000;
  }
}




// selection
::selection{
  background-color: black;
  color: #388396;
}



// scrollbottomtotop
.scroll-to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  width: 60px;
  height: 60px;

}

.scroll-to-top.visible {
  opacity: 1;
}





.scroll-to-top button{
  background-color: #e33d3d;
  border-color: #e33d3d;
  color: #fff;
  border-radius: 0px;
}



.animate {
  animation: scaleAnimation 0.3s ease-in-out;
}


@keyframes scaleAnimation {
  0% {
      transform: rotate(360) scale(0);
  }

  50% {
      transform: rotate(0) scale(1);
  }

  100% {
      transform: rotate(0) scale(0);
  }
}

